<section class="navigation">
  <div class="nav-container">
    <nav>
      <div class="brand">
        <img src="../../assets/logo.jpg" alt="logo" />
      </div>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="#!">Men</a>
        </li>
        <li>
          <a href="#!">Women</a>
        </li>
        <li>
          <a href="#!">Kids</a>   
        </li>
        <li>
          <a href="#!">Collections</a>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
        <li>
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search" />
        </li>
      </ul>
    </nav>
  </div>
</section>

